body {
    background-image: url(src/images/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0px 0px 20px 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: scroll;
}

a {
    text-decoration: none;
    color: white;
}

header {
    display: flex;
    justify-content: center;
}
.head-block {
    margin-top: 20px;
    display: flex;
    color: white;
    background-color: #383da8;
    width: 40%;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 3px solid #242aa3;
    transition: all 0.4s ease;
}

.head-block:hover {
    border: 3px solid #8284bf;
}

nav {
    display: flex;
    justify-content: center;
}
.nav-block {
    margin-top: 20px;
    display: flex;
    color: white;
    background-color: #383da8;
    width: 40%;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 3px solid #242aa3;
    flex-direction: column;
    transition: all 0.4s ease;
}

.nav-block:hover {
    border: 3px solid #8284bf;  
}

.nav-link {
    background-color: #5c60bf;
    padding: 5px;
    font-size: 30px;
    border-radius: 10px;
    border: 3px solid #242aa3;
    margin: auto 10px 10px 10px;
}

.nav-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

main {
    display: flex;
    justify-content: center;
}
.main-block {
    margin-top: 20px;
    display: flex;
    color: white;
    background-color: #383da8;
    width: 40%;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 3px solid #242aa3;
    flex-direction: column;
    font-weight: bold;
    transition: all 0.4s ease;  
}

.main-block:hover {
    border: 3px solid #8284bf;
}

.links-section {
    display: flex;
    justify-content: center;
}

.my-links-block {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: white;
    background-color: #383da8;
    width: 40%;
    align-items: center;
    border-radius: 15px;
    border: 3px solid #242aa3;
    flex-direction: column;
    transition: all 0.4s ease;
}

.link-to-social-network {
    background-color: #5c60bf;
    padding: 5px;
    font-size: 30px;
    border-radius: 10px;
    border: 3px solid #242aa3;
    margin: 10px;
}

.links-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.my-links-block:hover {
    border: 3px solid #8284bf; 
}

.equipment {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.equipment-block {
    margin-top: 20px;
    display: flex;
    color: white;
    background-color: #383da8;
    width: 40%;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 3px solid #242aa3;
    flex-direction: column;
    transition: all 0.4s ease;
}

.equipment-block:hover {
    border: 3px solid #8284bf;
}

.techstack {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.techstack-block {
    margin-top: 20px;
    display: flex;
    color: white;
    background-color: #383da8;
    width: 40%;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 3px solid #242aa3;
    flex-direction: column;
    transition: all 0.4s ease;
}

.techstack-block:hover {
    border: 3px solid #8284bf;
}

@media (max-width: 767px) {
    body {
        background-repeat: no-repeat;
        min-height: 100vh;
        background-position: center;
    }
    .head-block {
        width: 90%;       
    }

    .nav-block {
        width: 90%;
    }

    .nav-link {
        font-size: 24px;
    }

    .head-block h2 {
        margin: 10px;
        padding: 0px;
        text-align: center;
    }

    .nav-block h2 {
        margin: 10px;
        padding: 0px;
        text-align: center;
    }

    .main-block {
        width: 90%;
    }

    .my-links-block {
        width: 90%;
    }

    .link-to-social-network {
        font-size: 24px;
    }

    .equipment-block {
        width: 90%;
    }

    .techstack-block {
        width: 90%;
    }
}